/*Common styles*/
* {
    /* margin: 0;
     padding: 0;*/
    font-family: 'Arial', serif;
    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
/*End of Common styles*/
/*Header*/
.header-top {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
    color: #ffffff;
    min-height: 323px;
    display: flex;
    justify-content: space-between;
}
.header-h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    line-height: 44px;
    margin: 0 0 50px 0;
}
.header-list {
    margin: 0 0 0 36px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    /*list-style-image: url("../img/check_icon_346.png");*/
    list-style-type: none;
    padding: 0 0 0 0;
}
.header-list-item {
    position: relative;
}
.header-list-item:before {
    content: "";
    display: block;
    width: 26px;
    height: 19px;
    background-image: url("../img/check_icon_346.png");
    background-size: cover;
    position: absolute;
    top: 7px;
    left: -37px;
}
.header-img {
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    display: block;
    color: #445162;
}
/*End of Header*/
/*Section About Product*/
.about-product {
    width: 100%;
    min-height: 344px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #ffffff;
}
.about-product-text h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    line-height: 29px;
    margin: 0 0 30px 0;
}
.about-product-text p {
    width: 655px;
    margin: 0 0 19px 0;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.about-product-text p:last-child {
    margin: 0;
}
.about-product-video {
    background-color: #445161;
    width: 430px;
    height: 245px;
}
/*End of Section About Product*/
/*Section Product advantages*/
.product-advantages {
    width: 100%;
    min-height: 418px;
    padding: 50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-advantages-h3 {
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 27px 0;
    min-width: 100%;
}

.pr-adv-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.pr-adv-list li {
    background: url('../img/list-image1.png') no-repeat left top;
    /*height: 98px;*/
    margin: 0 0 30px 0;
    padding-left: 42px;
    width: 567px;
}
.pr-adv-list li:last-child {
    margin: 0;
}
/*End of Section Product advantages*/
/*Section Screenshots*/
.product-screenshots {
    width: 100%;
    min-height: 487px;
    padding: 50px;
    background-color: #ffffff;
}
.product-screenshots-h3 {
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 27px 0;
}
.product-screenshot-figure-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-screenshot-figure {
    padding: 0;
    margin: 0 0 20px 0;
}
.product-screenshot-figure:nth-child(3),
.product-screenshot-figure:nth-child(4) {
    margin: 0;
}
.screenshot-figure-img {
    background-color: #445161;
    width: 200px;
    height: 150px;
    display: block;
    float: left;
    margin: 0 16px 0 0;
}
.figcaption-screenshot {
    display: block;
    min-height: 150px;
    max-width: 590px;
}
.product-screenshots-h4 {
    text-align: left;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 23px;
    margin: 0 0 14px 0;
}
.product-screenshots p {
    margin: 0;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}
/*End of Section Screenshots*/
/*Section Reviews*/
.product-reviews {
    width: 100%;
    min-height: 487px;
    padding: 50px;
    background-color: #f5f5f5;
}
.product-reviews-h2 {
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 27px 0;
}
.product-reviews-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.product-reviews-block {
    padding: 0;
    margin: 0 0 20px 0;
}
.product-reviews-block:nth-child(3),
.product-reviews-block:nth-child(4) {
    margin: 0;
    padding: 0;
}
.review-figure-img {
    background-color: #445161;
    width: 75px;
    height: 75px;
    display: block;
    float: left;
    margin: 0 16px 0 0;
    border-radius: 50%;
}
.product-reviews p {
    margin: 0 0 0 100px;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    /*display: block;*/
    max-width: 470px;
    padding: 15px;
    min-height: 120px;
    position: relative;
    background-color: #ebebeb;
    border-radius: 5px;
}
.product-reviews p:before {
    content: "";
    display: block;
    border: 13px solid transparent;
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 25px;
    left: -25px;
}
.product-reviews span {
    margin: 5px 0 0 0;
    display: block;
    color: #989898;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}
/*End of Section Reviews*/
/*Section Buy-Product*/
.buy-product {
    width: 100%;
    min-height: 660px;
    padding: 50px;
    background-color: #ffffff;
}
.buy-product-h2 {
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 27px 0;
}
.buy-section-wrapper {
    display: flex;
    justify-content: space-evenly;
}
.buy-section {
    background-color: #445162;
    border-radius: 5px;
    width: 300px;
    height: 100%;
    align-self: flex-end;
    border: 2px solid #445162;
    padding: 0 0 20px 0;
}
.buy-h3 {
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    text-transform: capitalize;
}
.buy-span {
    display: block;
    color: #445162;
    background-color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    box-sizing: border-box;
    padding: 7px;
}
.buy-list {
    font-size: 14px;
    color: #ffffff;
    line-height: 24px;
    margin: 18px 0 20px 0;
}
.buy-button {
    border-radius: 5px;
    background-color: #ffffff;
    color: #445162;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    width: 260px;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    outline: 1px solid transparent;
    text-transform: uppercase;
}
.buy-button:hover{
    background-color: #445162;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.buy-button:active{
    background-color: #ffffff;
    color: #445162;
    border: 1px solid transparent;
}
/*End of Section Buy-product*/
/*Section Contacts*/
.contacts {
    background-color: #445162;
    min-height: 508px;
    padding: 50px;
}
.contacts-h2{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 27px 0;
}
.contacts-form{
    width: 500px;
    margin: 0 50px 0 150px;
    float: left;
}
.form-name{
    outline: none;
    padding: 10px;
    margin: 0 0 22px 0;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: capitalize;
    width: 100%;
    height: 40px;
    color: #445162;
    background-color: #ffffff;
}
.form-name::placeholder{
    color: #445162;
    font-size: 16px;
    font-weight: 400;
}
.form-name:focus{
    border: 1px solid #ccc;
}
.form-email{
    outline: none;
    padding: 10px;
    margin: 0 0 22px 0;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
}
.form-email::placeholder{
    color: #445162;
    font-size: 16px;
    font-weight: 400;
}
.form-email:focus{
    border: 1px solid #ccc;
}
.form-text{
    width: 100%;
    resize: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 0 22px 0;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ffffff;
}
.form-text::placeholder{
    color: #445162;
    font-size: 16px;
    font-weight: 400;
}
.form-text:focus{
    border: 1px solid #ccc;
}
.form-button{
    width: 140px;
    display: block;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid transparent;
}
.form-button:hover{
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    background-color: #445162;
}
.form-button:active{
    border: 1px solid transparent;
    outline: none;
    background-color: #ffffff;
    color: #445162;
}
.contacts-links-list{
    list-style-type: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0;
}
.contacts-links-list li{
    margin: 0 0 26px 0;
}
.contacts-links-list li:nth-child(1):before{
    content: "";
    background: url('../img/skype-icon.png') no-repeat left top;
    padding: 0  0  26px 31px;
}
.contacts-links-list li:nth-child(2):before{
    content: "";
    background: url('../img/icq-icon.png') no-repeat left top;
    padding: 0  0  26px 31px;
}
.contacts-links-list li:nth-child(3):before{
    content: "";
    background: url('../img/email-icon.png') no-repeat left top;
    padding: 0  0  26px 31px;
}
.contacts-links-list li:nth-child(4):before{
    content: "";
    background: url('../img/phone-icon.png') no-repeat left top;
    padding: 0  0  26px 31px;
}
.social-links{
    display: flex;
}
.social-links a{
    display: block;
    width: 43px;
    height: 42px;
    background-image: url("../img/social_buttons_338.png");
    margin: 0 7px 0 0;
}
.social-links a:nth-child(1){
    background-position: 0 0;
}
.social-links a:nth-child(2){
    background-position: -49px 0;
}
.social-links a:nth-child(3){
    background-position: -98px 0;
}
.social-links a:nth-child(4){
    background-position: -149px 0;
}
.social-links a:nth-child(5){
    background-position: -197px 0;
}
.social-links a:hover{
    border-radius: 50%;
    box-shadow: 3px 3px #313c4d;
    background-color: #313c4d;
}
/*End ofSection Contacts*/
/*Footer*/
.footer p {
    font-size: 12px;
    color: #445162;
    background-color: #ffffff;
    text-align: center;
}
/*End of Footer*/